---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gianfranco's Portfolio">
	<main>
        <h1>Interested in contacting me?</h1>
		<h3>You can reach out to me either through an <a href="mailto:cicciomesere@gmail.com">email</a>or via <a href="https://www.linkedin.com/in/gianfranco-cicciomessere">Linkedin</a></h3>
	</main>
</Layout>