---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Gianfranco's Portfolio">
	<main>
		<div class="info-area">
			<h1>Hi, I am Gianfranco</h1>
			<h2>a Software Engineer</h2>
			<Card 
			title="About Me"
			body='I am a software engineer graduate, experienced in full-stack web development, with a passion for learning new technologies and solving problems.' 
			/>
		</div>
	</main>
</Layout>

<style>
	.info-area {
		flex: 1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: left;
		margin-bottom: 1em;
	}
	h2 {
		font-size: 2rem;
		font-weight: 400;
		text-align: left;
	}
</style>
