<div class="right-bar">
    <a href="/">About me</a>
    <a href="/">Projects</a>
    <a href="/">Contact</a>
</div>
<style>
    .right-bar {
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
		padding: 5rem;
	}
    .right-bar a {
		margin-right: 1rem;
		color: white;
		text-decoration: none;
		text-align: left;
		background: grey;
		border-radius: 15px;
		padding: 20px;
		margin-bottom: 50px;
    }
    .right-bar a:hover {
        background: #23262d;
    }
</style>