<div class="sideBar">
    <div class="content">
        <div class="picture-border" />
        <a href="https://github.com/Mageh533"><img src="/github-142-svgrepo-com.svg" alt="GitHub Logo"></a>
        <a href="https://www.linkedin.com/in/gianfranco-cicciomessere"><img src="linkedin-161-svgrepo-com.svg" alt="Linkedin Logo"></a>
        <a href="mailto:cicciomesere@gmail.com"><img src="email-svgrepo-com.svg" alt="Email Logo"></a>
    </div>
</div>
<style>
    .sideBar {
        color: white;
        padding: 1rem;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
        width: 10%;
        height: 95vh;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .picture-border {
        border: 1px solid white;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        background-image: url('/headphoto.jpg');
        background-size: cover;
        margin-bottom: 10vh;
        margin-top: 3vh;
    }
    img {
        width: 50px;
        height: 50px;
        margin-bottom: 1rem;
    }
</style>