<div class="top-bar">
    <a href="/about">About me</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
</div>
<style>
    .top-bar {
		display: flex;
		flex-direction: row;
		margin-right: auto;
	}
    .top-bar a {
		margin-right: 1rem;
		color: white;
		text-decoration: none;
		text-align: left;
		background: grey;
		border-radius: 15px;
		padding: 20px;
		margin-bottom: 10px;
    }
    .top-bar a:hover {
        background: #23262d;
    }
</style>